.bestdeals {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.bestdeals-head h6 {
    font-size: 22px;
}

.bestdeals-view button {
    background: white;
    border-color: #f5831a;
    color: #f5831a;
    box-shadow: none;
    border-radius: 5px;
    padding: 3px;
font-size: 12px;
}

.mobile-contents {
    margin-top: 200px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-sub {
    padding: 0px 0px 30px 0px;
    min-width: 100%;
    display: flex;
    overflow-x: auto;

}

.mobile-sub::-webkit-scrollbar {
    display: none;
}

.mobile-card {
    /* border: 1px solid #d5d5d5; */
}

.mobilehead {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.mobilehead .star{
    font-size: 12px;
}

.mobile-card img {
    width: 125px;
}

.mobilecardbottom {
    display: flex;
    justify-content: center;
    padding: 0px 6px;
}

.mobilecardbottom .mobileprice .mobileerror {
    font-size: 12px;
    text-decoration: line-through;
    color: #f5831a;
    margin-bottom: 0px;
    font-weight: 600;
    padding: 0px;
}

.mobilecardbottom .mobileprice .mobilereal {
    font-size: 12px;
    padding: 0px;
    color: black;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
}

.mobilecardbottom .mobileaddtocart {
    color: white;
    background: #f5831a;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    padding: 5px 0px;
}

.mobile-card p {
    /* color:#f5831a; */
    font-size: 13px;
    text-align: center;
    
    padding: 6px;
    margin-bottom: 0px;
    
}